@media (min-width: 320px) and (max-width: 991px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    nav ul {
        flex-direction: column;
    }
    nav .barIcon {
        display: block;
        background: transparent;
        border: 0;
        position: absolute;
        top: 53px;
        right: 20px;
    }
    .logo {
        width: 30%;
    }
    .navItem {
        width: 70%;
        justify-content: flex-start;
        align-items: flex-start;
        display: none;
    }

    .button {
        text-align: left;
        width: 100%;
        margin-left: 0;
        margin-right: 10px;
    }
    .button a {
        margin-left: 5px;
    }
}
