@media (min-width: 320px) and (max-width: 991px) {
    .container {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .flex {
        flex-direction: column;
    }
    nav input:checked ~ .navItem {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }
    nav .barIcon {
        display: block;
        background: transparent;
        border: 0;
        position: absolute;
        top: 53px;
        right: 20px;
    }
    .logo {
        width: 30%;
    }
    .navItem {
        width: 70%;
        justify-content: flex-start;
        align-items: flex-start;
        display: none;
    }

    .button {
        text-align: left;
        width: 100%;
        margin-left: 0;
        margin-right: 10px;
        display: none;
    }

    .button a {
        font-size: 16px;
    }
    .font-24 {
        font-size: 18px;
    }
    nav input:checked ~ .button {
        display: block;
    }

    .button a {
        margin-left: 0px;
    }

    /* banner part */
    #banner {
        padding: 29px 0;
        padding-bottom: 50px;
    }

    .banner-text {
        width: 100%;
    }
    .banner-text h1 {
        width: auto;
        font-size: 24px;
    }
    #banner p {
        width: auto;
        font-size: 18px;
        margin: 16px 0;
    }
    #banner a {
        padding: 11px 28px;
        font-size: 18px;
    }

    #banner .banner-img {
        display: none;
    }

    /* Collection Part Start */
    .collection {
        margin: 49px 0;
    }
    .collection .title h1 {
        font-size: 35px;
    }
    .collection .title p {
        font-size: 16px;
    }

    .collection .item {
        width: 100%;
        margin-bottom: 20px;
    }
    .collection .item .name {
        bottom: 18px;
    }
    /* Collection Part End */
}
