/* =================================
            common css start
   ================================*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
}
.container {
    width: 1320px;
    margin: 0 auto;
}

ul,
ol {
    list-style-type: none;
}
a {
    display: inline-block;
    text-decoration: none;
}

.pop {
    font-family: "Poppins", sans-serif;
}

.frank {
    font-family: "Frank Ruhl Libre", serif;
}

.font-22 {
    font-size: 22px;
}
.font-24 {
    font-size: 24px;
}
.font-28 {
    font-size: 28px;
}
.font-64 {
    font-size: 64px;
}

.font-regular {
    font-weight: 400;
}
.semibold {
    font-weight: 500;
}
.font-bold {
    font-weight: 700;
}
.flex {
    display: flex;
}

.black {
    color: black;
}
/* =================================
            common css end
   ================================*/

/* =============================
            nav start
   =============================== */
nav {
    padding: 45px 0;
    background: #fae3b6;
}
.logo {
    width: 10%;
}
.navItem {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barIcon {
    display: none;
}

.navItem ul {
    column-gap: 60px;
}

nav input {
    display: none;
}

.button {
    text-align: right;
    width: 25%;
}
.button a {
    padding: 10px 28px;
    border: 1px solid #ffd687;
    margin-left: 15px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.68);
    transition: linear 0.4s;
    -webkit-transition: linear 0.4s;
    -moz-transition: linear 0.4s;
    -ms-transition: linear 0.4s;
    -o-transition: linear 0.4s;
}
.button a:hover {
    background: #ffd687;
}
/* =============================
            nav end
   =============================== */
#banner {
    background: #fae3b6;
    padding: 130px 0;
}
#banner p {
    margin: 25px 0;
    width: 531px;
}
#banner a {
    padding: 25px 91px;
    background: black;
    color: #fff;
    border-radius: 10px;
}

.banner-text {
    width: 50%;
}
.banner-text h1 {
    width: 539px;
}
.banner-img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

#banner .banner-img .bannerImg {
    border-bottom-left-radius: 195px;
    z-index: 1;
    animation: blackandwhite 3s infinite alternate;
}
#banner .banner-img .bannerDot {
    position: absolute;
    left: 60px;
    top: -92px;
    animation: dotImg 6s infinite alternate;
}
@keyframes blackandwhite {
    from {
        filter: grayscale(0);
    }
    to {
        filter: grayscale(1);
    }
}

@keyframes dotImg {
    from {
        left: 30px;
        bottom: 0;
    }
    to {
        left: 31px;
        bottom: 70%;
    }
}
/* =============================
            Collection start
   =============================== */
.collection {
    margin: 180px 0;
}
.collection .title {
    text-align: center;
    margin-bottom: 50px;
}
.collection .flex {
    justify-content: space-between;
    column-gap: 20px;
}

.collection .item {
    width: 30%;
    position: relative;
    overflow: hidden;
}

.collection .item:hover .name {
    bottom: 18px;
}
.collection .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.collection .item .name {
    text-align: center;
    position: absolute;
    padding: 12px 65px;
    left: 50%;
    bottom: -61px;
    transform: translateX(-50%);
    background: #fff;
    transition: linear 0.4s;
    -webkit-transition: linear 0.4s;
    -moz-transition: linear 0.4s;
    -ms-transition: linear 0.4s;
    -o-transition: linear 0.4s;
}

/* =============================
            Collection End
   =============================== */

/* =============================
            Fashion Part start
   =============================== */
.fashion {
    margin: 120px 0;
}
.fashion .flex {
    /* justify-content: space-between; */
    column-gap: 124px;
}
.fashion .item-one {
    width: 50%;
    position: relative;
}

.fashion .item-one .shape {
    position: absolute;
    top: -68px;
    right: -96px;
    z-index: -1;
}
.fashion .item-two {
    width: 40%;
}
.fashion .item-two h2 {
    margin-top: 71px;
}
.fashion .item-two p {
    margin-top: 63px;
    margin-bottom: 132px;
}

/* =============================
            Fashion Part End
   =============================== */

/* =============================
            Banner start
   =============================== */

/* =============================
            Banner End
   =============================== */
